<div class="center hero-unit">
<h1>Welcome to DK's BlackJack</h1>
<h2>Sign up or Login to play!</h2>
  <%= link_to new_user_path, :class => "btn btn-success" do %>
      <i class="glyphicon glyphicon-user"></i> Sign up now!
  <% end %>
  <%= link_to new_credential_path, :class => "btn btn-success" do %>
      <i class="glyphicon glyphicon-play-circle"></i> Play!
  <% end %>
 </div>